@import "./variables.scss";

.topo {
  background-color: $amarelo;
  padding-bottom: 120px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 90px;

  @media screen and (min-width: $md) {
    justify-content: space-between;
  }
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;

  @media screen and (min-width: $md) {
    width: 30%;
    flex-direction: row;
    align-items:flex-start;
  }

  .icon {
    padding-bottom: 15px;
    padding-top: 6px;

    @media screen and (min-width: $md) {
        padding-right: 15px;
    }
  }

  .title {
    font-size: 22px;
    padding-bottom: 10px;
  }

  .text {
    color: $texto2;
  }
}
