@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PT Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: 95%;

  @media screen and (min-width: $md){
    width: 700px;
  }

  @media screen and (min-width: $xl){
    width: 960px;
  }
}

.titulo{
  font-size: 32px;
  padding-bottom: 20px;
}

.subtitulo{
  font-size: 20px;
  font-weight:normal;
  padding-bottom: 20px;
}

p{
  line-height: 26px;
}

.active{
  display: flex !important;
  flex-direction: column;

  @media screen and (min-width: $md){
    flex-direction: row;
  }
}

.center{
  text-align: center;
}

.center-mobile{
  text-align: center;

  @media screen and (min-width: $md){
    text-align: left;
  }
}
