@import "../../styles/variables.scss";

.carousel{
    &-wrapper{
        display: flex !important;
        align-items: center;
    }

    &-col-left{
        width: 100%;
        @media screen and (min-width: $md) {
            width: 60%;
            padding-right: 80px;
            padding-left: 20px;
        }

        @media screen and (min-width: $xl) {
            width: 50%;
            padding-right: 200px;
        }
    }

    &-icons-wrapper{
        padding-top: 20px;

        span{
            padding-right: 10px;
        }
    }

    &-imagem{
        display: none;
        @media screen and (min-width: $md) {
            display: block;
            margin-right: 50px;
        }
    }
}


.slick-dots{
    bottom: -64px;
  li{
    button{
        &::before{
            font-size: 20px;
            color: #fff !important;
        }
    }
  }
}



