@import "../../styles/variables.scss";

.button{
    display: block;
    border: none;
    background-color: $amarelo;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 120px;
    height: 50px;
}