@import "../../styles/variables.scss";

.footer{
    background-color: #000;
    padding: 120px 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: $amarelo;
}

.text{
    color: $texto2;
    width: 60%;
    padding-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
        margin-top: 20px;
    }

    @media screen and (min-width: $md) {
        flex-direction: row;

        button{
            margin-left: 15px;
            margin-top: 0;
        }
    }
   
}

.redesSociais{
    padding-top: 50px;

    a{
        padding-right: 20px;
    }
}

.links{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;

    @media screen and (min-width: $md) {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 180px;
        padding-left: 0;
    }

    div{
        padding-bottom: 30px;

        &:last-child{
            padding-bottom: 0;
        }
    }
    
    a, address, p{
        color: #fff;
        display: block;
        text-decoration: none;
    }

    address{
        font-style: normal;
    }
}