@import "../../styles/variables.scss";

.input {
  width: 300px;
  height: 50px;
  border-radius: $borderRadius;
  padding-left: 15px;
  outline: none;

  @media screen and (min-width: $md) {
    width: 400px;
}

  @media screen and (min-width: $xl) {
      width: 596px;
  }
}
