@import "../../styles/variables.scss";

.header {
  background-color: $amarelo;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0;
  }
}

.logo {
  width: 160px;

  img {
    width: 100%;
  }
}

.iconMenu {
  display: block;

  @media screen and (min-width: $md) {
    display: none;
  }
}

.menu {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  background-color: #000;
  padding: 20px;

  @media screen and (min-width: $md) {
    padding: 0;
    position: static;
    background-color: $amarelo;
    justify-content: flex-end;
  }

  a {
    color: $amarelo;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-bottom: 20px;

    @media screen and (min-width: $md) {
      color: $texto;
      display: inline-block;
      padding-right: 30px;
      padding-bottom: 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
